In [164]:
import numpy as np
import pandas as pd
import re

    BFFFBBFRRR: row 70, column 7, seat ID 567.
    FFFBBBFRRR: row 14, column 7, seat ID 119.
    BBFFBBFRLL: row 102, column 4, seat ID 820.
    seat ID: multiply the row by 8, then add the column

In [165]:
test1 = 'BFFFBBFRRR'
test2 = 'FFFBBBFRRR'
test3 = 'BBFFBBFRLL'

In [166]:
def load_data():
    data = []
    with open('data/avent5') as f:
        for line in f:
            data.append(line.strip('\n'))
    return data

In [167]:
def translate(line):
    line = line.replace("B", "1")
    line = line.replace('F', '0')
    line = line.replace("R", "1")
    line = line.replace('L', '0')
    return line

def get_seat(line):
    seat = []
    seat.append(int(line[0:7],2))
    seat.append(int(line[7:10],2))
    seat.append(seat[0]*8 + seat [1])
    return seat

In [183]:
data = load_data()

In [184]:
df = []
for line in data:
    line = translate(line)
    df.append(line)

In [185]:
list_seats = []
for line in df:
    list_seats.append(get_seat(line))

In [186]:
list_seats = pd.DataFrame(list_seats)
#list_seats = get_seat(data)

In [187]:
list_seats.describe()

                0           1          2
count  888.000000  888.000000  888.00000
mean    55.793919    3.503378  449.85473
std     32.111581    2.294051  256.88464
min      0.000000    0.000000    6.00000
25%     28.000000    1.750000  227.75000
50%     56.000000    4.000000  449.50000
75%     84.000000    6.000000  672.25000
max    111.000000    7.000000  894.00000

In [173]:
results1 = 894

In [201]:
list1 = set(list_seats[2])
list2 = set(np.arange(0,900,1))

In [205]:
res = list(set(list2) - set(list1))

In [206]:
res

[0, 1, 2, 3, 4, 5, 579, 896, 897, 898, 899, 895]