# Day-3

In [1]:
import numpy as np

In [75]:
data = np.genfromtxt('data/day_3', dtype=str)

In [105]:
data[0]

'111100000101'

In [71]:
most = np.zeros(len(data[0]),dtype=int)
least = np.zeros(len(data[0]),dtype=int)

for k in range(len(data[0])):
    for line in data:
        most[k] += int(line[k])
        
    if most[k] < 500:
        most[k] = 0
        least[k] = 1
    else:
        most[k] = 1
        least[k] = 0

In [72]:
gamma = ''
epsilon = ''
for i in range(len(most)):
    gamma = gamma + str(most[i])
    epsilon = epsilon + str(least[i])
    
gamma = int(gamma, 2)
epsilon = int(epsilon, 2)
gamma, epsilon

(3004, 1091)

In [73]:
3004 * 1091

3277364

In [179]:
def get_most(data, col):
    return data[col].value_counts().index[0]

def get_least(data, col):
    return data[col].value_counts().index[1]

# Part -2

In [76]:
import pandas as pd

In [128]:
#data_oxy = pd.read_csv('data/day_3', dtype=str, header=None, names=['num'])
#data_c2 = pd.read_csv('data/day_3', dtype=str, header=None, names=['num'])

In [183]:
columns=['a','b','c','d','e','f','g','h','i','j','k','l']

In [184]:
raw = [ [ int(data[k][i]) for i in range(len(data[0])) ] for k in range(len(data)) ]
raw = pd.DataFrame(raw, columns=columns)

In [201]:
oxy = raw.copy()
co2 = raw.copy()

In [207]:
for col in columns:
    if co2.shape[0] > 2:
        co2 = co2[co2[col] == get_least(co2,col)]
    if oxy.shape[0] > 2:
        oxy = oxy[oxy[col] == get_most(oxy,col)]

In [208]:
co2

     a  b  c  d  e  f  g  h  i  j  k  l
927  0  1  1  0  0  1  0  0  0  0  0  1

In [210]:
oxy

     a  b  c  d  e  f  g  h  i  j  k  l
180  1  1  0  1  1  1  1  1  1  1  1  0
824  1  1  0  1  1  1  1  1  1  1  1  1

In [217]:
c = int('011001000001',2)
c

1601

In [216]:
o = int('110111111111',2)
o

3583

In [218]:
o*c

5736383